* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
}

.container {
    // max-width: 1140px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

.divider {
    width: 100%;
    height: 3px;
    background-color: black;
}

.current-page {
    font-size: 22px;
}

.logo {
    width: 75px;
    height: 75px;
}

// header

.header {
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.navigation {
    &__list {
        display: flex;
        gap: 15px;
    }

    &__button {
        all: unset;
        display: block;
        cursor: pointer;
        font: inherit;
        color: inherit;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        text-align: center;
        text-decoration: none;
    }

    &__elem {
        color: black;
        font-size: 18px;
    }
}

.change-name {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 22px;

    & button {
        background-color: cadetblue;
        border-radius: 5px;
        margin-left: 5px;
    }
}

.new-name {
    background-color: burlywood;
    color: darkred;

    &::placeholder {
        color: darkorchid;
    }
}

.home__wrapper {
    height: calc(100% - 78px);
    display: flex;
    align-items: center;
    justify-content: center;

}